
<!DOCTYPE html>
<html>
<head>



    <!--Metatags-->
    <meta charset="UTF-8" />
    <meta name="description" content="The Artist website of Jeanette Brown, showcasing various photography &amp mixed media fine art">
    <meta name="keywords" content="Photography, Fine, Art, Glass, Jeanette, Brown, Portfolio, Artist, Film, Digital, Camera, Sculpture, Mixed, Media">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Hooomans-->
    <link type="text/plain" rel="author" href="http://jeanettie.com/humans.txt" />

    <!-- flavicon -->
    <link rel="shortcut icon" type="image/x-icon" class="fav" href="favicon.ico">

    <title>@ViewBag.Title - Jeanette's Blog</title>
    @Styles.Render("~/Content/styles.css")
    @Styles.Render("~/Content/blogstyles.css")
    @Styles.Render("~/Content/fonts.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div id="wrapper">
        <div id="fname">
            <img id="firstname" src="http://jeanettie.com/imgs/buttons/signature2017.svg" alt="Jeanette">
        </div>
        <div id="lname">
            <h2 id="lastname">Brown</h2>
        </div>


        <div id="maincontent">
            <div class="group blognav">
                <nav>
                    <ul>
                        
                        <li class="active button">@Html.ActionLink("New Post", "addedit", "Home", new { @class = "button" })</li>
                        <li class="button">@Html.ActionLink("Edit", "edit", "Home", new { @class = "button" } )</li>
                        <li class="button">@Html.ActionLink("Thoughts", "jeanettiesblog", "Home", new { @class = "button" } )</li>
                    </ul>
                </nav>
            </div>

            @RenderBody()

        </div> <!--end main content div-->

        <footer>
            <p id="copyright">&copy; @DateTime.Now.Year Jeanette Brown</p>
        </footer>
    </div><!--end div wrapper-->

    @Scripts.Render("~/bundles/jquery")
 

    @RenderSection("scripts", required: false)
</body>
</html>