<!DOCTYPE html>
<html>
<head>
      
    <!--Metatags-->
    <meta charset="UTF-8" />
    <meta name="description" content="The Artist website of Jeanette Brown, showcasing various photography &amp mixed media fine art">
    <meta name="keywords" content="Photography, Fine, Art, Glass, Jeanette, Brown, Portfolio, Artist, Film, Digital, Camera, Sculpture, Mixed, Media">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Hooomans-->
    <link type="text/plain" rel="author" href="http://jeanettie/humans.txt" />

    <!-- flavicon -->
    <link rel="shortcut icon" type="image/x-icon" class="fav" href="favicon.ico">

    <title>@ViewBag.Title - Jeanette's Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    <div id="wrapper">
        <div id="fname">
            <img id="firstname" src="http://jeanettie.com/imgs/buttons/signature2017.svg" alt="Jeanette">
        </div>
        <div id="lname">
            <h2 id="lastname">Brown</h2>
        </div>

    </div>
    <div id="maincontent">
        <div class="group" id="navbar">
            <nav>
                <ul>
                    <li><a href="http://jeanettie.com/index.html">Home</a></li>
                    <li><a href="http://jeanettie.com/2D.html">Two Dimensional </a></li>
                    <li><a href="http://jeanettie.com/3D.html">Three Dimensional </a></li>
                    <li><a href="http://jeanettie.com/bio.html">Information</a></li>
                    <li class="active">@Html.ActionLink("Thoughts", "jeanettiesblog", "Home")</li>
                </ul>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p id="copyright">&copy; @DateTime.Now.Year Jeanette Brown</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/styles.css")
    @RenderSection("scripts", required: false)
</body>
</html>
